/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


:root {
  --primary-bg-color: #2d2a32;
  --primary-bg-color-2: #3C3843;
  --primary-color: #fff;

  --secondary-bg-color: #ff6347;

  --message-user-bg-color: #504a59;
  --message-other-bg-color: #258ed0;
  --toast-bg-color: #5a5464;

  --tint-black-1: #666666;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}

input,
input:active,
input:focus {
  border: none;
  outline: none;
}


.chat-messages {
  max-height: 80vh;
  overflow-y: auto;
  background-color: var(--primary-bg-color-2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border-top-left-radius: 0;
}

.message:first-child,
.message:first-child {
  margin-top: 10px;
}

.message p span,
.message p span {
  font-weight: 600;
}

.message p {
  font-weight: 400;
  text-align: justify;
}



/* Styling for user messages */
.user-message {
  background-color: var(--message-user-bg-color);
  color: var(--primary-color);
  padding: 10px 15px;
  margin-bottom: 10px;
}

/* Styling for other users' messages */
.other-message {
  background-color: var(--message-other-bg-color);
  color: var(--primary-color);
  padding: 10px 15px;
  margin-bottom: 10px;
}

/* Input container styles */
#input-container {
  margin: 20px 15px 20px 15px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#input-container form {
  flex: 1;
}

/* Input styles */
#message-input {
  width: 98%;
  margin-top: 10px;
  padding: 15px 10px;
  border-radius: 5px;
  font: inherit;
  background-color: var(--primary-bg-color-2);
  color: var(--primary-color);
}

#message-input::placeholder {
  color: var(--tint-black-1);
}


/* Delete button styles */
.delete-button {
  background-color: var(--secondary-bg-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Toast */

.toast-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background: var(--toast-bg-color);
  padding: 5px;
  border-radius: 10px;
  pointer-events: none;
  opacity: 0;
  transition: all 1s;
}

.toast-container.active {
  /* Initial State */
  pointer-events: all;
  opacity: 1;
  transition: all 1s;
}

.toast-message {
  color: white;
  font-weight: 800;
}
